@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

body {
	overflow-y: scroll;
	background: var(--color-slate-900);
	min-height: 100vh;
	color: var(--color-slate-300);
	font-family: var(--font-mono);
	padding: calc(var(--spacing) * 6) 0;
	line-height: 1.4;
}

/* Navigations */
a,
button.anchor {
	color: var(--color-blue-400);
	cursor: pointer;
}
a:hover,
button.anchor:hover {
	text-decoration: underline;
}

/* Headings */
h1,
h2,
h3 {
	display: flex;
	color: var(--color-slate-100);
}
h1::before,
h2::before,
h3::before {
	flex-shrink: 0;
	display: block;
	width: var(--text-3xl);
	color: var(--color-slate-500);
	align-content: center;
}

h1 {
	font-size: var(--text-3xl);
}
h1::before {
	content: '#';
}
h2 {
	margin-top: calc(var(--spacing) * 4);
	font-size: var(--text-xl);
}
h2::before {
	content: '##';
}
h2 + * {
	margin-top: calc(var(--spacing) * 2);
}
h3 {
	margin-top: calc(var(--spacing) * 4);
	font-size: var(--text-lg);
}
h3::before {
	content: '###';
	font-size: var(--text-sm);
}

/* Sections */
section > div {
	margin-left: var(--text-3xl);
	margin-right: var(--text-3xl);
}
section > p + p {
	margin-top: calc(var(--spacing) * 4);
}
p + p {
	margin-top: calc(var(--spacing) * 2);
}

/* Lists */
ul > li {
	list-style: disc;
}
ul > li + li {
	margin-top: calc(var(--spacing) * 2);
}

/* Code */
code {
	color: var(--color-slate-100);
	background: var(--color-slate-800);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
}
